@model Case.web.Areas.Admin.Models.ProvinceModel
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>


    <div class="page-content">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">

                    </div>

                </div>
            </div>
            <section class="section">
                <div class="card">

                    <div class="card-body">
                        <form asp-action="AddEditProvince" asp-controller="Common" role="form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @if (Model.Id > 0)
                                @Html.HiddenFor(x => x.Id)



                            <div class="form-group">
                                <label asp-for="ProvinceName"></label><br />
                                <input asp-for="ProvinceName" class="form-control"/>
                                <span asp-validation-for="ProvinceName"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="btnSubmit" class="btn btn-success">@(Model.Id > 0 ? "Update" : "Add")</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>